*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
/*.html
.idea
go.sum
*.log
gmcrun.toml

!/vendor/github.com/davecgh/go-spew
!/vendor/github.com/pmezard/go-difflib
!/vendor/github.com/stretchr/testify
!/vendor/gopkg.in/yaml.v2
/vendor/*
coverage.txt
