############################################################
# http server configuration 
############################################################
# 1.support of tls and optional client auth.
# 2.showerrorstack if on, when a panic error occurred
# call stack and error message will display on the browser.
############################################################
[httpserver]
listen=":7080"
tlsenable=false
tlscert="conf/server.crt"
tlskey="conf/server.key"
tlsclientauth=false
tlsclientsca="./conf/clintsca.crt"
printroute=true
showerrorstack=true

############################################################
# http server static files configuration 
############################################################
# 1.dir is a local filesystem path.
# 2.urlpath is static dir url path.
############################################################
[static]
dir="static"
urlpath="/static/"

#############################################################
# logging configuration
#############################################################
#
#############################################################
[log]
# 0,1,2,3,4,5 => TRACE, DEBUG, INFO, WARN, ERROR, PANIC
level=0
# 0,1 => console, file
output=[0]
# only worked when output= 1 or 2
dir="./logs"
# filename in logs dir.
# available placeholders are:
# %Y:Year 2020, %M:Month 10, %d:Day 10, %H:24Hours 21
gmcweb="gmcweb_%Y%m%d.log"
gzip=false

#############################################################
# i18n configuration
#############################################################
# 1.dir is a local filesystem path.
# 2.enable is true/false to enable/disable i18n in gmc.
# 3.all i18n locale files extension is `.toml`, filename is
# i18n standard FLAG. Such as: zh-CN, en-US case insensitive.
#############################################################
[i18n]
enable=false
dir="i18n"
default="zh-cn"

#############################################################
# http server template / views configuration
#############################################################
# 1.dir is a local template folder path.
# 2.ext is extension of template file.
# 3.left and right delimiters to the specified strings, 
# to be used in subsequent calls to Parse.
#############################################################
[template]
dir="views"
ext=".html"
delimiterleft="{{"
delimiterright="}}"

########################################################
# session configuration 
########################################################
# 1.store can be "file", "memory", "redis".
# 2.{tmp} is a placeholder of system temp directory.
# 3.ttl, gctime, timeout, idletimeout, maxconnlifetime,
# cleanupinterval in seconds.
########################################################
[session]
# turn on/off session
enable=false
store="memory"
cookiename="gmcsid"
ttl=3600

[session.file]
dir="{tmp}"
gctime=300
prefix=".gmcsession_"

[session.memory]
gctime=300

[session.redis]
debug=false
address="127.0.0.1:6379"
prefix=""
password=""
timeout=10
dbnum=0
maxidle=10
maxactive=30
idletimeout=300
maxconnlifetime=3600
wait=true

############################################################
# cache configuration
############################################################
# 1.redis, memory, file are supported.
# 2.support of mutiple redis server.
# 3.notic: each config section must have an unique id.
# 4.cache.file.dir: {tmp} is a placeholder of system
# temp directory.
# 5.timeout, idletimeout, maxconnlifetime, cleanupinterval,
# in seconds.
############################################################
[cache]
default="redis"

[[cache.redis]]
debug=true
enable=false
id="default"
address="127.0.0.1:6379"
prefix=""
password=""
timeout=10
dbnum=0
maxidle=10
maxactive=30
idletimeout=300
maxconnlifetime=3600
wait=true

[[cache.memory]]
enable=false
id="default"
cleanupinterval=30

[[cache.file]]
enable=false
id="default"
dir="{tmp}"
cleanupinterval=30

########################################################
# database configuration
########################################################
# 1.mysql,sqlite3 are both supported.
# 2.support of mutiple mysql server.
# 3.support of mutiple sqlite3 database.
# 4.notic: each config section must have an unique id.
# 5.if database.sqlite3.password is not empty, database
# will be encrypted.
########################################################
[database]
default="mysql"

[[database.mysql]]
enable=false
id="default"
host="127.0.0.1"
port="3306"
username="root"
password="admin"
database="test"
prefix=""
prefix_sql_holder="__PREFIX__"
charset="utf8"
collate="utf8_general_ci"
maxidle=30
maxconns=200
timeout=3000
readtimeout=5000
writetimeout=5000
maxlifetimeseconds=1800

[[database.mysql]]
enable=false
id="news"
host="127.0.0.1"
port="3306"
username="root"
password="admin"
database="test"
prefix=""
prefix_sql_holder="__PREFIX__"
charset="utf8"
collate="utf8_general_ci"
maxidle=30
maxconns=200
timeout=3000
readtimeout=5000
writetimeout=5000
maxlifetimeseconds=1800

[[database.sqlite3]]
enable=false
id="default"
database="test.db"
password=""
prefix=""
prefix_sql_holder="__PREFIX__"
# sync mode: 0:OFF, 1:NORMAL, 2:FULL, 3:EXTRA
syncmode=0
# open mode: ro,rw,rwc,memory
openmode="rw"
# cache mode: shared,private
cachemode="shared"